<div class="subContainer subContainerBackground">
  <app-navigation-button [navigationConfig]="navigationConfig"></app-navigation-button>
  <div class="pokemonContentWrapper" *ngIf="pokemon">
    <div class="pokemonAnnexeWrapper">
      <app-pokemon-card class="pokemonCardBox" [pokemon]="pokemon" [hiddenName]="true"></app-pokemon-card>
      <app-buy-button></app-buy-button>
    </div>
    <div class="pokemonInfoWrapper">
      <div class="flex flex-col lg:flex-row gap-4">
        <span class="pokemonName">{{pokemon.name}}</span>
        <div class="flex gap-4">
          <app-pokemon-type *ngFor="let type of pokemon.pokemon_v2_pokemontypes" [type]="type"></app-pokemon-type>
        </div>
      </div>
      <app-pokemon-stat *ngFor="let stat of pokemon.pokemon_v2_pokemonstats" [stat]="stat"></app-pokemon-stat>
    </div>
  </div>
</div>
