swiper {
  @apply p-8 overflow-y-visible;
}

:host, .cdk-viewport {
  @apply w-full h-full;
}

.cdk-viewport {
  @apply py-8;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply w-0 h-0;
  }
}

.pokemonsCardWrapper {
  @apply grid-cols-2 lg:grid-cols-3;
  @apply flex flex-wrap grid gap-4 py-8;
}
