/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp';

@import 'https://fonts.googleapis.com/css2?family=Inter&display=swap';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'swiper/swiper-bundle.css';

@import 'app/themes/default/theme';

body, html {
  @apply w-full h-full;
}

/* Box Visibility
* Only for Developpement
*/
* {
  outline: red;
}


.verticalSeparator, .horizontalSeparator {
  @apply bg-slate-400 bg-opacity-60;
}

.verticalSeparator {
  width: 2px;
  @apply h-full;
}

.horizontalSeparator {
  height: 2px;
  @apply w-full;
}

.subContainer {
  @apply w-full h-full;
  @apply flex flex-col gap-0 md:gap-16 xl:gap-0;
  @apply px-2 py-8 md:px-8 md:pt-24 2xl:px-32;
}

.subContainerBackground {
  background: rgb(0, 212, 255);
  background: radial-gradient(circle, rgba(0, 212, 255, 1) 0%, rgba(9, 73, 121, 1) 95%);
}

app-search {
  @apply mr-auto;
}

/* Material Custom with TailwindCss */
.mat-select-value {
  @apply text-slate-500;
}

.mat-dialog-container {
  @apply p-2 #{!important};
}

mat-dialog-container {
  max-width: 90vw !important;
  width: 80vw !important;
  min-height: 90vh !important;
  height: 90vh !important;
}

mat-label {
  @apply text-sky-500;
}

.mat-option-text {
  @apply flex gap-4 items-center #{!important};
  font-family: inherit !important;
}

.mat-select-value-text {
  @apply text-slate-600 font-inter;
}

.mat-form-field-outline {
  @apply bg-white;
}

.mat-form-field-flex {
  @apply gap-4;
}

.mat-form-field-infix {
  top: 0 !important;
}

.mat-form-field-suffix {
  top: 0 !important;
}

.mat-checkbox-label {
  span {
    white-space: break-spaces;
  }
}
